/* text box and make it so it doesn't overflow out of the box */
.description {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: normal;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    word-wrap: break-word;
    height: inherit;
    width: inherit;
}

/* title (contain name, and simple text with icon)  */
.title_text {
    padding-bottom: 0rem;
}

.title_text h1 {
    font-size: 2.5rem;
}

/* education section */
.brooklyn_college_container {
    border-left: 3px solid rgba(17, 17, 17, 0.5);
}

.education_detail {
    padding-left: 4px;
    font-size: .9rem;
}

/* hobby section */
.hobby_list {
    font-size: 1.2rem;
}
