/* the text box isn't center yet */
.box_body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem;
}

/* welcome text and name text color */
.title_text {
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
    text-align: center;
}

.main_page_name {
    color: var(--primary-accent-color);
}

.description {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
}

@media (max-width: 768px) {
    .title_text {
        font-size: 1.8rem;
    }

    .description {
        font-size: 1.2rem;
    }

    .box_body {
        padding: 1rem;
    }
}
